* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/index-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    width: 500px;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.initial-input-container {
    border: 2px solid black;
    border-radius: 15px;
    height: 370px;
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.event-input {
    width: 290px;
    height: 40px;
    padding: 23px 15px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    background: none;
}

.date-input {
    width: 290px;
    height: 40px;
    padding: 23px 15px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    background: none;
    margin-top: 20px;
}

.op-btn {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 10px 0;
    font-size: 18px;
    background: none;
}

.start-button {
    margin-top: 60px;
    background-color: rgb(0, 106, 255);
    color: white;
}

.start-button:hover {
    background-color: rgb(0, 105, 217);
    transition: .2s ease-in-out;
}

.reset-button {
    margin-top: 10px;
    border: 2px solid black;
}

.reset-button:hover {
    background-color: black;
    color: white;
    transition: .2s ease-in-out;
}